body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    background: #ffffff4d;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
}

button:hover {
    background: #ffffff66;
}

h3 {
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
}



.select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.TextSecondary {
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: monospace;
}

.TextPrimary {
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: monospace;
    font-weight: bold;
}

.TextBig {
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
}

.TextTitle {
    position: absolute;
    color: white;
    font-size: 42px;
    font-family: monospace;
    font-weight: bold;
}

.SubText {
    color: white;
    font-size: 16px;
    font-family: monospace;
}

.InputText {
    width: -webkit-fill-available;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #ffffff00;
    border: none;
    border-bottom: solid 2px #ffffff;
    color: white;
    font-family: monospace;
    font-size: 16px;
    padding: 4px 8px;
}

.InputText:focus {
    outline: none;
    border-bottom: solid 2px #ffffffee;
    background: #ffffff2d;
}


.panel {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #ffffff33;
    border: 5px solid #ffffff;
    height: calc(100% - 60px);
    width: 300px;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.containerPlanet > *:not(:last-child) {
    margin-bottom: 32px;
}

.colorIcon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid white;
    flex-shrink: 0;
    cursor: pointer;
}

.informationContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0791a0ed;
    border: 5px solid #ffffff;
    color: white;
    width: 600px;
    border-radius: 8px;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    color: #ffffff;
    font-weight: bold;
}



* {
    scrollbar-width: thin;
    scrollbar-color: #FFFFFF #FFFFFF00;
}

::-webkit-scrollbar {
    width: 24px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF00;
}

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #FFFFFFEF;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb:active {
    background-color: #FFFFFFEF;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}